
body {
    padding: 20px;
    margin: 0;
}


.nav-container {
    font-family: "Cormorant", sans;
    padding-left: 20px;
    display: inline-block;
}

.nav-container h1 {
    font-weight: 300;
    font-size: 24px;
    display: inline-block;
   

}

.nav-container .nav-content {
    display: inline-block;
}

.nav-content ul {
    padding-left: 0;
    margin-left: 24px;
}

.nav-container ul li {
    display: inline;
    padding: 5px; 
}

.nav-content a {
    text-decoration: none;
    color: black;
}
.nav-content span {
    border-bottom: 1px solid black;
}


.div-image-card {
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
    padding: 20px;
   
}

.div-image-card img {
    
    width: 100%;
    height: 500px;
   
    /* height: 100%; */
}

.div-image-card h2 {
  font-weight: 300;
  font-size: 1rem;
}

.section-info {
    font-family: "Cormorant", sans;
    font-weight: 300;
    width: 25%;
    min-width: 400px;
    /* border: 1px solid black; */
    margin-top: 100px;
    margin-left: 100px;  
}

.div-about-container h3 {
    font-family: "Cormorant", sans;
    font-weight: 300;
    font-size: 25px;
}

#h3-call-to-action {
    border-bottom: black solid 1px;
    display: inline-block;
}

p {
    font-size: 18px;
}